{% extends 'template_base.html' %}

{% block title_page %} <title>Perfil</title>{% endblock title_page %}

{% block inicio %}
<div class="perfil-container">
    <h2>Perfil de {{ perfil.usuario.username }}</h2>
    
    {% if perfil.avatar %}
        <img src="{{ perfil.avatar.url }}" alt="Avatar" width="150">
    {% else %}
        <p>No has subido un avatar.</p>
    {% endif %}

    <p><strong>Nombre:</strong> {{ perfil.usuario.first_name }} {{ perfil.usuario.last_name }}</p>
    <p><strong>Email:</strong> {{ perfil.usuario.email }}</p>
    <p><strong>Biografía:</strong> {{ perfil.biografia }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ perfil.fecha_nacimiento }}</p>
    <p><strong>Especialidad:</strong> {{ perfil.especialidad }}</p>

    <a href="{% url 'editar_perfil' %}">Editar Perfil</a>
</div>
{% endblock %}
